---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    This blog is built with Astro and hosted on Netlify. Wording shaped by Gemini 2.5.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
